# Never rename the adapter in the pinned usb1/1-1 port
SUBSYSTEM=="net", ACTION=="add", DEVPATH!="/devices/platform/usbhost/fd000000.usb/xhci-hcd.4.auto/usb1/1-1/1-1:1.0/net/*", \
  ENV{ID_USB_DRIVER}=="rtl88x2cu", NAME="%E{ID_NET_NAME_MAC}"

SUBSYSTEM=="net", ACTION=="add", DEVPATH!="/devices/platform/usbhost/fd000000.usb/xhci-hcd.4.auto/usb1/1-1/1-1:1.0/net/*", \
  ENV{ID_USB_DRIVER}=="rtl88x2eu", NAME="%E{ID_NET_NAME_MAC}"

SUBSYSTEM=="net", ACTION=="add", DEVPATH!="/devices/platform/usbhost/fd000000.usb/xhci-hcd.4.auto/usb1/1-1/1-1:1.0/net/*", \
  ENV{ID_USB_DRIVER}=="rtl88xxau_wfb", NAME="%E{ID_NET_NAME_MAC}"
